<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | capitalize }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/blog' | relative_url }}">Blog</a>
      <a href="{{ '/about' | relative_url }}"/>About</a>
      <a href="{{ '/recipes' | relative_url }}"/>Recipes</a>
    </nav>
    <h1>{{ page.title | capitalize }}</h1>
    <section>
      {{ content }}
    </section>
  </body>
</html>
